html, body {
    font-family: 'Microsoft YaHei','微软雅黑','宋体',Arial,sans-serif;
}
.haou-footer {
    color: #999999;
    font-size: 14px;
    text-align: center;
    margin-top: .5rem;
}
.haou-footer a {
    color: #586C94;
    text-decoration: none;
}
.haou-footer-links {
    display: inline-block;
    vertical-align: top;
    margin: 0 .62em;
    position: relative;
    font-size: 14px;
}
.haou-footer-text {
    padding: 0 .34em;
    font-size: 12px;
}
.haou-home {
    font-size: 0;
}
.haou-home i {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 100%;
    margin: 0 auto .2rem;
}
.haou-home .col-20 {
    /*height: 5rem;*/
    margin-left: 0;
    width: 20%;
}
.haou-home a.col-20 {
    display: block;
    padding: .5rem 0;
    color: #4f4f4f;
    font-size: 1.2rem;
    -webkit-tap-highlight-color: transparent;
}
.haou-home img {
    width: 100%;
}
/* 首页商品展示 */
.haou-show .col-50 {
    /*padding: 0 .5rem;*/
    border-right: 1px #ddd solid;
    border-top: 1px #ddd solid;
    font-size: 0;
}
.haou-show .col-50:nth-child(2n) {
    border-right: 1px #fff solid;
}
.haou-show .col-33 {
    border-right: 1px #ddd solid;
    border-top: 1px #ddd solid;
    font-size: 0;
}
.haou-show .col-33:nth-child(3n) {
    border-right: 1px #fff solid;
}
.haou-show .col-100 {
    margin-left: 0;
    font-size: 0;
    /*border-top: 1px #ddd solid;*/
}
.row.haou-show .row {
    /*border-top: 1px #ddd solid;*/
}
.haou-setting-head {
    height: 8rem;
    background-image: url('../images/bg-setting.jpg');
    background-size: 100%;
    font-size: .8rem;
    color: #fff;
}
.haou-setting-head img {
    border: 2px #fff solid;
}
.haou-setting .col-33 {
    height: 4rem;
    border-top: 1px solid #e8e6e6;
    border-right: 1px solid #e8e6e6;
}
.haou-setting .col-33:nth-child(3n) {
    border-right: 0;
}
.haou-setting .text, .haou-setting i.icon {
    margin-top: .7rem;
}
.haou-setting i.icon {
    color: #999999;
}
.haou-setting .text-small {
    font-size: .65rem;
    margin-top: .5rem;
    color: #999999;
}
.haou-auth-margin-top-mid {
    margin-top: .5rem;
    margin-bottom:  .5rem;
}
.haou-auth-margin-top-mid .button {
    height: 2rem;
    line-height: 2rem !important;
}
#normal-login .text-small, #phone-login .text-small {
    font-size: .7rem;
}
.contacts-block a {
    color: #565a5c;
}
/* 好友店底部购物 */
.haou-cart-bar {
    border-top: 1px solid #E1E2E3;
    border-bottom: 1px solid #E1E2E3;
    box-sizing: border-box;
    background: #F6FCFF !important;
}
.haou-cart-bar .haou-cart-area {
    position: relative;
    float: left;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    zoom: 1;
    /*font-size: 0;*/
}
.haou-cart-bar .haou-cart-area .icon {
    margin-left: .5rem;
    padding-top: 0;
    padding-bottom: 0;
}
/*.haou-cart-bar .haou-cart-area span {
    font-size: .9rem;
}*/
.haou-cart-bar .haou-settlement-btn {
    top: 0;
    right: 0;
    width: 30%;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    position: absolute;
    text-align: center;
    color: #fff;
    background-color: #F9A502;
}
/* 好友店商品展示 */
#haou-store-show-content {
    /*top: 4.2rem;*/
}
#haou-store-show-content li {
    border-bottom: 1px #ddd solid;
}
#haou-store-show-content li .item-title-row {
    color: #666;
}
#haou-store-show-content .item-inner:after {
    height: 0;
}

















